html {
    background-color: black;
}

#navigation-bar {
    background-color: lightslategrey;
    height: 60px;
    width: 100%;
}

#content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   align-items: center;
}

#main-title {
    font-size: 60px;
}

.text {
    color: white;
    text-align: justify;
    font-size: large;
}

a:-webkit-any-link {
    color: rgb(255, 80, 80)
}