html {
    background-color: black;
}

#content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   align-items: center;
}

.text {
    color: white;
    text-align: justify;
}

a:-webkit-any-link {
    color: rgb(255, 80, 80)
}